@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.cont {
  display: flex;
  font-weight: bold;
  color: white;
  margin-top: 110px;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  border-radius: 20px;
  padding: 30px;
  width: 85%;
  opacity: 0.9;
}

.cont h1 {
  font-weight: bolder;
  font-size: 45px;
  border-bottom: 5px solid wheat;
  border: 1px solid wheat;
  border-radius: 10px;
  background-color: #ebf2d1;
  color: black;
  padding: 10px;
}

.cont h2 {
  font-weight: bold;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.cat-link{
  font-weight: bold;
  font-size: 23px;
}

.scroll-icon{
  font-size: 120px !important;
  color: black;
}

.scroll-icon:hover{
  transition: 0.5s;
  font-size: 130px !important;
  color: #ebf2d1;
}

.scroll{
  display: flex;
  justify-content: center;
}

.scroll-button{
  background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
