@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.cont {
  display: flex;
  font-weight: bold;
  color: white;
  margin-top: 130px;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  border-radius: 20px;
  padding: 30px;
  width: 85%;
  opacity: 0.9;
}

.cont h1 {
  font-weight: bolder;
  font-size: 45px;
  text-decoration: underline wheat;
}

.cont h2 {
  font-weight: bold;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
