@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

.card-body {
  background-color: #f1dfd1;
  background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
}

.card-text {
  font-weight: bold;
}

.main-content {
  margin-left: 150px;
}

.card {
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
}

.card:hover {
  transition: 0.4s ease-in-out;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  cursor: pointer;
}

@media (min-width: 320px) {
  .main-content {
    margin-left: 33px;
  }
}

.product-list {
  padding-left: 20px;
}

.quality-heading {
  font-size: 18px;
}

.bestseller-heading {
  text-align: center;
  border: 2px solid wheat;
  border-radius: 10px;
  background-color: lime;
  padding: 5px;
  font-size: 22px;
}
