body {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.9em;
}

body::-webkit-scrollbar-track {
  color: #212529;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(219, 235, 196);
  outline: 1px solid slategrey;
  border: 1px solid rgb(219, 235, 196);
  border-radius: 10px;
}
